<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,300,600,700'
	rel='stylesheet' type='text/css'>
	<title>Link</title> <!--STYLES-->
 <link rel="stylesheet" href="/linker/styles/main.css">
 <!--STYLES END-->
		<!--SCRIPTS-->
<script src="/linker/js/jquery.js"></script>
<script src="/linker/js/search.js"></script>
<!--SCRIPTS END-->
		<!--TEMPLATES-->
<script type="text/javascript" src="/jst.js"></script>
<!--TEMPLATES END-->
</head>

<body>
	<div id="container">
		<div id="header">
			<ul>
				<li><a href="#search-tab">SEARCH</a></li>
				<li><a href="#publish-tab">PUBLISH</a></li>
				<li><a href="#aq-tab">FAQ</a></li>
				<li><a href="#about-tab">ABOUT</a></li>
			</ul>
		</div>

		<div id="search-tab">
			<div id="body">
				<center>
					<img src="/images/linklogolrg.png" />
				</center>
				<br />
				<div class="descriptionfont">Link is a protocol for embedding
					data in blockchains.</div>
				<br /> <br />
				<div>
					<form>
						<div class="search-container">
							<input class="form-field" type="text" name="searchstring" id="searchQuery"><br />
						</div>
						<div class="submit-container">
							<input class="submit-button" type="submit" id="searchButton"
								name="search" value="Search">
						</div>
					</form>
				</div>
			</div>
		<div class="hidden searchResultsBody">
			<div id="searchResults">results</div>
		</div>
		<div id="footer">THIS IS THE FOOTER WHERE YOU WILL PLACE ALL OF
			YOUR DONATION ADDRESSES AND ANYTHING YOU'D LIKE</div>
	</div>
	</div>
</body>
</html>