<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,300,600,700'
	rel='stylesheet' type='text/css'>
	<title>Link</title> <!--STYLES-->
 <link rel="stylesheet" href="/linker/styles/main.css">
 <link rel="stylesheet" href="/linker/styles/searchresultsandform.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery-ui.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.accordion.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.all.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.autocomplete.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.base.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.button.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.core.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.datepicker.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.dialog.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.menu.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.progressbar.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.resizable.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.selectable.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.slider.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.spinner.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.tabs.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.theme.css">
 <link rel="stylesheet" href="/linker/styles/ui/jquery.ui.tooltip.css">
 <!--STYLES END-->
																				<!--SCRIPTS-->
<script src="/linker/js/jquery-1.10.2.js"></script>
<script src="/linker/js/jquery-ui-1.10.3.js"></script>
<script src="/linker/js/underscore.js"></script>
<script src="/linker/js/backbone.js"></script>
<script src="/linker/js/search.js"></script>
<!--SCRIPTS END-->
																				<!--TEMPLATES-->
<script type="text/javascript" src="/jst.js"></script>
<!--TEMPLATES END-->
</head>

<body>
	<div id="container">
		<div id="header">
			<ul>
				<li><a id="searchTabButton" href="#search">SEARCH</a></li>
				<li><a id="publishTabButton" href="#publish">PUBLISH</a></li>
				<li><a id="faqTabButton" href="#faq">FAQ</a></li>
				<li><a id="aboutTabButton" href="#about">ABOUT</a></li>
				<li><a id="aboutTabButton" href="#about">THE FUTURE</a></li>
			</ul>
		</div>

		<div id="search-tab">
			<div id="searchBody">
				<center>
					<img src="/images/linklogolrg.png" />
				</center>
				<br />
				<div class="descriptionfont center">Link is a protocol for
					embedding data in blockchains.</div>
				<br /> <br />
				<div>
					<form id="searchForm">
						<div class="search-container">
							<input class="form-field" type="text" name="searchstring"
								id="searchQuery"><br />
						</div>
						<div class="submit-container">
							<input class="submit-button" type="submit" id="searchButton"
								name="search" value="Search">
						</div>
					</form>
				</div>
			</div>
			<div id="searchResultsBody" class="hidden">
				<form id="innerSearchForm">
					<input class="form-field" type="text" name="searchstring"
						id="innerSearchQuery"><input class="submit-button"
						type="submit" id="innerSearchButton" name="search" value="Search">
				</form>
				<div id="searchResults"></div>
			</div>
		</div>
		<div id="publish-tab" class="hidden">
			<div id="formulus" class="publishform">
				<h1>Submit a Link to the Feathercoin Blockchain</h1>
				<p>You can use this form to publish data to the Feathercoin blockchain. You'll be prompted with an amount to send to an address. When that send has one confirmation, your data will be published.</p>
				<form id="publishForm" name="form" method="post">
					<label>Magnet link <span class="hint">magnet:?xt=urn:btih:...&dn=...</span>
					</label><input type="text" name="payloadInline" id="payloadInline" />
					<!--
					<label>File <span class="hint">Select File To Upload</span>
					</label>
					 <input type="file" name="file" id="file" />-->
					<label>Name <span class="hint">Enter the name of the
							torrent</span>
					</label> <input type="text" name="name" id="name" /> <label>Description
						<span class="hint">Describe the torrent</span>
					</label>
					<textarea name="description" id="description"></textarea>
					<label>Keywords <span class="hint">Seperated by
							comma</span>
					</label> <input type="text" name="keywords" id="keywords" />
					<!-- <label>URI
						<span class="hint">Paste your URI</span>
					</label> <input type="text" name="uri" id="uri" />-->
					<!--  <label>Creation
						Date <span class="hint">Autopopulated</span>
					</label>
					 <input type="text" name="creationdate" id="creationdate" /> <label>last
						Modified <span class="hint">Date of last changes</span>
					</label> <input type="text" name="lastmodified" id="lastmodified" />-->
					<label>License <span class="hint">Select Creative
							Commons License</span>
					</label> <select>
						<option>Not Applicable</option>
						<option>CC BY</option>
						<option>CC BY-SA</option>
						<option>CC BY-ND</option>
						<option>CC-BY-NC</option>
						<option>CC-BY-NC-SA</option>
						<option>CC-BY-NC-ND</option>
					</select>

					<button id="publishButton" class="publishbutton" type="submit">Publish</button>
					<div class="spacer"></div>
				</form>
			</div>
		</div>
		<div id="faq-tab" class="hidden">
			<div>
				<span class="faq-question">What is Link?</span>
				<p class="faq-answer">Link is an open source protocol for embedding data in the blockchain of Crypto-currencies.</p>
				<span class="faq-question">Why would you want to do that?</span>
				<p class="faq-answer">Crypto-currencies like Bitcoin have a number of useful properties which Link exploits:</p>
			    <ul>
			      <li><p class="faq-answer">The blockchain is built on a peer-to-peer network which makes broadcasting of data far and wide easy to accomplish.</p></li>
			      <li><p class="faq-answer">The blockchain is verified by all the participants in the network, meaning data embedded within it cannot become corrupted.</p></li>
			      <li><p class="faq-answer">The blockchain is used as a record of account, so it already has existing utility, meaning it's less likely to be censored.</p></li>
			      <li><p class="faq-answer">The act of embedding data in the blockchain via the Link protocol requires users to spend their coins, meaning there's a cost associated with publishing.</p></li>
			    </ul>
			    
			    <p class="faq-answer">By building on these foundational properties, Link allows anyone to publish data in a way that is effectively anonymous, and will be very hard to censor, yet easy to find.
				</p>
				<span class="faq-question">Does it destroy coins?</span>
				<p class="faq-answer">Yes. Every publish requires spending to addresses for which the private key isn't known. This causes further deflation of the currency, making the existing coins more valuable.</p>
				<span class="faq-question">But won't this bloat the blockchain?</span>
				<p class="faq-answer">While the blockchain will increase in size with every piece of data published, because the coins are being destroyed, they can never move again. This means they will never generate another transaction to increase the size of the blockchain. Any cost in size is paid once and never again, as opposed to when coins transfer ownership and will subsequently generate more transaction. If the blockchain was only used for this purpose, there would be an upper limit on the blockchain size, as opposed to the present assumption that it will grow forever. So while adding data to the blockchain will increase the size of it, it can't possibly increase it more than sending coins around.</p>
			</div>
		</div>
		<div id="about-tab" class="hidden">
		<p class="faq-answer">The Link Protocol was developed by Travis Savo with a lot of help from the Feathercoin community.</p>
		<p class="faq-answer">All code is open source, and alternative implementions of the Link Protocol are encouraged.</p>
		<p class="faq-answer">The Link Protocol specification can be found here: <a href="https://github.com/TSavo/Link/blob/master/README.md">https://github.com/TSavo/Link/blob/master/README.md</a></p>
		<p class="faq-answer">The Link reference library for Node.JS can be found here: <a href="https://github.com/TSavo/Link">https://github.com/TSavo/Link</a></p>
		<p class="faq-answer">The Link Web App (what you're using now) can be found here: <a href="https://github.com/TSavo/Link-server">https://github.com/TSavo/Link-server</a></p>
		</div>
		<div id="footer">Donations:&nbsp;BTC: 1DUm3Tk4Ft8sDm37Y7m8XmBfJ56A3HUNin&nbsp;FTC:&nbsp;6krRwcsDTZYaUGpE2fLnS7DqTBNHBpsrjp&nbsp;DOGE:&nbsp;DLpVer8U9qhvZ27uauvr3J979STVwbqcmF</div>
	</div>
</body>
</html>